<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hawkbane.biz/stage/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://w19.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>hawkbane.biz/stage/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>hawkbane</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tsc_tools" Order="1" Enabled="False">
          <Destination Path="Data Source=s06.winhost.com;Initial Catalog=DB_89250_signalrchat;Persist Security Info=True;User ID=DB_89250_signalrchat_user;Password=Macross12;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SASHAChatAssist.tsc_tools, SASHAChatAssist" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tsc_tools-Web.config Connection String">
      <ParameterValue>metadata=res://*/tsc_tools.csdl|res://*/tsc_tools.ssdl|res://*/tsc_tools.msl;provider=System.Data.SqlClient;provider connection string="Data Source=s06.winhost.com;Initial Catalog=DB_89250_signalrchat;Persist Security Info=True;User ID=DB_89250_signalrchat_user;Password=Macross12;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>